<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>My App</title>
	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="bootstrap/dist/css/custom.css">
</head>
	<body>



		<div class="container">
			<div class="topbar" style="margin-top: 20px">
				<a id="comboCracker" href="/">Home</a>
				<a id="comboCracker" href="/cracker">Combo Cracker</a>
				<a id="comboCracker" href="/facebook">Facebook</a>
			</div>


			<h1 style="font-family: 'Shree Devanagari 714'; margin-top: 20px">To Do List</h1>
				<ul>
					<% for (var i = 0; i < items.length; i++ ){ %>
					<li style="font-family: 'Shree Devanagari 714'"><%= items[i].desc %></li>
					<% } %>
				</ul>


				<!--Add ACTION using POST -->
				<form action="/add" method="post">
					<input type="text" name="newItem"></input>
					<input type="submit">
				</form>
				<br>


				<div  id="nodeContainer">

					<center>
						<h1>NodeJS Download</h1>

					<form style="display: inline" action="/NodeJSwin32" action="/GET">
					<h2>Windows</h2>
					<br>
						<form  class="form1" action="/NodeJSwin32" method="GET">
							<input id="win32" type="radio" class="type" name="type" value="32bit">  32bit</input>
							<input class="downloadBTN"type="submit" value="Download">
						</form>

						<form class="form2" style="position: absolute" action="/NodeJSwin64" method="GET">
							<input id="win64" type="radio" class="type" name="type" value="64bit">  64bit</input>
							<input class="downloadBTN"type="submit" value="Download">
						</form>
					</form>
					<br />
					<br>
					<br>
					<form style="display: inline" action="/NodeJSosx" action="/GET">
						<h2>Macintosh</h2>
						<input class="downloadBTN" type="submit" value="Download">
					</form>
				</div>
				</center>
		</div>



		<!--
		<form action="/hello" method="post">
			<% var contrib = 0 %>
			<input type="submit"><a name="contribution"> Contributers: <%= contrib %>
		</form> -->

		<script src="bootstrap/dist/js/bootstrap.js"></script>
		<script src="jquery/dist/jquery.js"></script>
	</body>
</html>
